.dashboard-container {
   padding: 20px;
   width: 100%;
   margin: auto;
}

.dashboard-title {
   text-align: center !important;
   margin-bottom: 25px;
   font-size: 28px;
   font-weight: 600;
}

.dashboard-subtitle {
   margin-top: 30px;
   margin-bottom: 15px;
   font-size: 22px;
   font-weight: 500;
}

.dashboard-card {
   border-radius: 10px;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-table {
   background: white;
   border-radius: 10px;
}

.dashboard-loader {
   width: 100%;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
}